.body {
  text-align : center;
  /*display: block;*/
  /*overflow: scroll;*/
  /*max-height: 100vh;*/
  /*background-color: #0b1c2f;*/
  font-family: Inter, sans-serif;
  font-size:  30px;
  color: #ddd;
  /* background-image: url("https://images.unsplash.com/photo-1638555097330-503fd1063ecf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1322&q=80"); */
  background-image: url("images/bg-mountain.jfif");
  /*background-repeat: no-repeat;*/
  background-size: cover;
}

.title {
  /*text-align : center;*/
  /*margin-bottom: 40px;*/
  /*color: #ddd;*/
  font-size: 58px;
  /*line-height: 100%;*/
}

ul {
    list-style-position: inside;
}



#wrapper{
  display: flex;
  /*flex-direction: row;*/
  margin-left: auto;
  width: 100%;
  /*border: 1px solid black;*/
}
#first{
  width: 50%;
  /*border: 1px solid red;*/
}
#second{
  width: 40%;
  /*border: 1px solid green;*/
}



/*.name {
  margin-bottom: 40px;
  color: #47bec7;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}*/



/*.bio {
  margin-bottom: 40px;
  font-family: Lora, sans-serif;
  color: #848d96;
  font-size: 21px;
  line-height: 140%;
}*/



/*.image {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: block;
  min-height: 100vh;
  min-width: 100%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: url('../images/split.jpg');
  background-position: 50% 50%;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}*/


